.post {
    min-height: 200px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid #CED7E7;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.profilePic {
    border-radius: 100%;
}

.header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    position: relative;
}

.leftGroup {
    display: flex;
}

.userAndTime {
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
}

.user {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 500;
}

.time { 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #12151D99;
    font-size: 12px;
}

.ellipsis {
    position: absolute;
    top: -10px;
    right: -10px;
}

.content {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 15px;
    color: #12151DDE;
}

.statBar {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 20px;
}

.stat {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #12151D;
    margin-left: 10px;
}

.statLabel {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #707276;
    margin-left: 5px;
}

.statIcon {
    color: #707276;
}

.commentBar {
    position: relative;
}

.addComment {
    width: 740px;
    height: 40px;
    margin-top: 20px;
    background-color: #F1F4F8;
    border-radius: 100px;
    border: none;
    padding: 10px 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #707276;
}

.commentLeftIcon, .commentRightIcon {
    color: #707276;
}

.commentLeftIcon {
    position: absolute;
    top: 33px;
    left: 15px;
}

.commentRightIcon {
    position: absolute;
    top: 33px;
    right: 15px;
    cursor: pointer;
}

.commentSeparator {
    border-top: 1px solid #CED7E7;
    width: 740px;
    height: 0;
    margin: 16px auto;
}