.post {
    min-height: 289px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid #CED7E7;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.profilePic {
    border-radius: 100%;
}